*{
    box-sizing: border-box;
}

/*Client Notes
Some design notes have been provided by the client:

header background color & name of animal: #120323
sidebar background colour: #97bf04
footer background colour & image frame: #d9043d
The puffin image should never be cut off as it is a key element on the page
The site uses a sans-serif font
Any spacing not defined can be estimated, but should allow for fluid and responsive design*/


body{
    font-family:sans-serif;
}

.header-container{
    background-color: #120323;
    color: #97bf04
}

aside{
    background-color: #97bf04;
}

footer{
    background-color: #d9043d;
    color:white;
    font-size: small;

}

figure img{
    max-width: 100%;
    height:auto;
    border: solid 3px #d9043d;
}

figure figcaption h2{
    color: #120323;
}



/*=================MEDIA QUERIES======================*/

/*==========================MOBILE ===========================*/
/*-=The logo and company name should be on separate lines
All content should be in one column
The puffin image should be centred horizontally 
and take up 100% of the width of the page=-*/
@media screen and (max-width:768px) {
    body{
        display:flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .header-container img{
        max-width: 30%;
        justify-self: center;
        padding: 1em;
    }
    .header-container h1{
        text-align: center;
        font-size:x-large;  
    }
    main{
        margin: 0 0;
    }
    main figure{
        text-align: center;
        margin: 0 0;
    }
    main figure img{
        max-width: 100%;
        border: solid 5px #d9043d;
    }
    figure figcaption{
        text-align: left;
        margin: 0 2.5rem
    }
    aside{
        width: 100%;
        padding: 10px 10px;

    }

    footer{
        text-align: center;
        padding:10px 10px;
        margin-top: .8rem;
        padding: 2rem 1rem;
    }


}


/*=================================TABLET==========================================*/
/*The logo and company name should be on the same line
The puffin image should be displayed at a smaller size - no wider than 300px
The puffin image and the caption for it should be displayed next to each other using flexbox
The sidebar should still appear at the bottom of the page, taking 100% of the horizontal width*/
@media screen and (min-width:769px) and (max-width:1000px) {

    body{
        margin:0 0;
        display: flex;
        flex-direction: column;
    }
    

    .header-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-container img{
        margin: 1em 1em ;
    }
    main{
        margin:0 0;
    }

    main figure{
        display:flex;
        align-items: center;
        margin: 0 0;
        max-height: 500px;
        margin-right: 2rem;
    }

    main figure img{
        max-width:300px;
        height: auto;
        margin: 2rem 1rem;
        border: solid #d9043d 5px;
    }
    main figure figcaption{
        max-height: 500px;

    }
    figcaption h2 {
        margin: 0 0;
        padding-left: 10px;
        margin-top: 1rem;

    } 

    figcaption p{
        padding: 10px;
        margin: 0 0;
        margin-bottom: 1rem;
        font-size: medium;
    }
    h3{
        margin: 0 0;
        padding: 0 0;
    }

    aside {
        padding: 20px 20px;
        align-items: center;
        align-content: center;
    }

    footer{
        font-size:15px;
        text-align: center;
        padding: 2rem 1.5rem;
        margin-top: .8rem;

    }

}
/*================================DESKTOP=========================================*/
/*3 column layout with the sidebar on the right*/
@media screen and (min-width:1001px){
    body{
        margin:0 0;
        display: flex;
        flex-direction: column;
    }
    

    .header-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-container img{
        margin: 1em 1em;
    }
    main{
        margin:0 0;
    }

    main figure{
        display:flex;
        align-items: center;
        justify-content: center;
        margin: 0 0;
        max-height: 500px;

    }
    #container{
        display:flex;
        align-items: center;
    }

    main figure img{
        max-width:300px;
        height: auto;
        margin: 2rem 1rem;
        border: solid #d9043d 5px;
    }
    main figure figcaption{
        max-height: 500px;

    }
    figcaption h2 {
        margin: 0 0;
        padding-left: 10px;
    } 

    figcaption p{
        padding: 10px;
        margin: 0 0;
        font-size: medium;
    }
    h3{
        margin: 0 0;
        padding: 0 0;
    }

    aside {
        display:flex;
        flex-direction: column;
        padding: 20px 20px;
        margin-top: 1rem;
        margin-left: 1rem;

        align-content: center;
        max-width: 25%;
    }

    aside h3{
        text-align: left;
    }

    footer{
        text-align: center;
        padding: 2rem 2rem;
        font-size: medium;
        margin-top: .8rem;

    }

}