*{
    box-sizing: border-box;
}

/*Client Notes
Some design notes have been provided by the client:

header background color & name of animal: #120323
sidebar background colour: #97bf04
footer background colour & image frame: #d9043d
The puffin image should never be cut off as it is a key element on the page
The site uses a sans-serif font
Any spacing not defined can be estimated, but should allow for fluid and responsive design*/


body{
    font-family:sans-serif
}

.header-container{
    background-color: #120323;
    color: #97bf04
}

figure img {
    border: solid 3px #d9043d;
}

aside{
    background-color: #97bf04;
}

footer{
    background-color: #d9043d;
    color:white;
    font-size: smaller;
}

figure img{
    max-width: 100%;
    height:auto;
}



/*=================MEDIA QUERIES======================*/

/*----------------- MOBILE ------------------------*/
@media screen and (max-width:768px) {
    body{
        display:flex;
        flex-direction: column;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .header-container img{
        max-width: 20%;
    }


}


/*================TABLET===============================*/
@media screen and (min-width:769px) and (max-width:1000px) {

    main figure{
        justify-content: space-around;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    main figure img{
        max-width: 40%;
    }
    main figure figcaption{
        max-width: 40%;
    }

}

@media screen and (min-width:1001px){

}